<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="PlantaloguePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>UsersFile.UsersFile</class>
    <class>EntityBeans.Labels</class>
    <class>EntityBeans.WorkSchedule</class>
    <class>EntityBeans.Tasks</class>
    <class>EntityBeans.Plants</class>
    <class>EntityBeans.Users</class>
    <class>EntityBeans.ResignationRequest</class>
    <class>EntityBeans.Notifications</class>
    <class>EntityBeans.MafResignrequestarchive</class>
    <class>EntityBeans.SadResignrequestarchive</class>
    <class>EntityBeans.BrosResignrequestarchive</class>
    <class>EntityBeans.SajResignrequestarchive</class>
    <class>EntityBeans.Saajemp</class>
    <class>EntityBeans.Sadahemp</class>
    <class>EntityBeans.Messages</class>
    <class>EntityBeans.Brosteremp</class>
    <class>EntityBeans.Mafaheememp</class>
    <class>EntityBeans.exceptions.Messages</class>
    <class>EntityBeans.exceptions.Saajemp</class>
    <class>EntityBeans.exceptions.BrosResignrequestarchive</class>
    <class>EntityBeans.exceptions.Sadahemp</class>
    <class>EntityBeans.exceptions.Mafaheememp</class>
    <class>EntityBeans.exceptions.ResignationRequest</class>
    <class>EntityBeans.exceptions.SadResignrequestarchive</class>
    <class>EntityBeans.exceptions.SajResignrequestarchive</class>
    <class>EntityBeans.exceptions.MafResignrequestarchive</class>
    <class>EntityBeans.exceptions.Brosteremp</class>
    <class>EntityBeans.Worker</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/mits_db?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value=""/>
    </properties>
  </persistence-unit>
</persistence>
